[Unit]
Description=Starts the RunEngine Manager
Requires=network.target

[Service]
User=vagrant
Type=simple
ExecStart=/home/vagrant/miniconda3/envs/bluesky_queueserver/bin/start-re-manager --startup-dir /vagrant/bmm_nist_ml_startup --keep-re

[Install]
WantedBy=multi-user.target
